/* Your Website Styles */
header {
	background: #2B4561;
	color: #CFCFCF;
	font-family: 'Philosopher', sans-serif;
	font-size: 25px;
	font-style: bold;
	text-align: right;
	margin: 0 0 0 -500px;
	padding: 0 10px 0 0;
}

body {
	background: url(../img/bg.png) repeat;
	color: #000;
	font-family: 'Philosopher', sans-serif;
}

h2 {
	font-size: 30px;
}

#profile-pic {
	width: 100%;
	border-radius: 25%;
	padding: 24px;
	margin: -25px 0 0 -30px;
}

.about {
	
}

.major {
	
}

footer {
	background: #306B5A;
	padding-right: 500px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16.5px;
}

a {
	color: #CFCFCF;
	text-decoration: none;
	font-family: 'Philosopher', sans-serif;
	padding: 0 0 0 10px;
}



































/* Show Grid */
.showgrid {
	/*background: url("../img/grid-bg.png") repeat-y;*/
}